<div class="modal fade" id="sign_in_sign_up_modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul class="tab_menu">
                    <li>
                      <button type="button" data-trigger="sign_in">Sign In</button>
                    </li> 
                    <li>
                        <button type="button" data-trigger="sign_up">Sign Up</button>
                    </li>           
                </ul>
                <div class="tab_content">
                    <div class="tab_container" id="sign_in_container">
                        <h2>Sign In</h2>
                    </div>
                    <div class="tab_container hidden" id="sign_up_container">
                        <h2>Sign Up</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>