<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air BND</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/modals.css">
    
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/popper.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>

    <script src="javascript/global/global_fe.js"></script>
</head>
<body>
    <div id="wrapper">
        <%- include('../global_partials/headers'); %>
    </div>
</body>
</html>